@{
    ViewData["Title"] = "Donation Successful";
}

<div class="text-center">
    <h1 class="display-4">Thank You!</h1>
    <p class="lead">Your donation was successful. We appreciate your support.</p>
    <div class="mt-4">
        <img src="~/images/success-icon.png" alt="Success" style="width: 120px;" />
    </div>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Return to Homepage</a>
</div>